[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=nautilus --new-window /usr/local/share/cardapio
Name=Applications Menu
Comment=Standard desktop applications (start) menu for the dock
Icon=chromium-app-list-old
#NoDisplay=true
#Hidden=true
X-Ayatana-Desktop-Shortcuts=Properties;
Categories=Utility;
