[Desktop Entry]
Name=Screen Lock Settings
Name[ca]=Paràmetres del Light Locker
Name[cs]=Nastavení Light Locker
Name[de]=Light-Locker-Einstellungen
Name[de_DE]=Light-Locker-Einstellungen
Name[en_AU]=Light Locker Settings
Name[es]=Configuración de Light Locker
Name[et]=Ekraanisäästu ja lukustussätted
Name[fi]=Light Locker -asetukset
Name[fr]=Paramètres de Light Locker
Name[it]=Impostazioni di Light Locker
Name[ja]=Light Lockerの設定
Name[nl]=Instellingen voor Light Locker
Name[pl]=Ustawienia Light Locker
Name[pt]=Configurações do Light Locker
Name[pt_BR]=Configurações do Light Locker
Name[pt_PT]=Configurações do Light Locker
Name[ru]=Настройки Light Locker
Name[tr]=Hafif Kilitleyici Ayarları
Comment=Configure locking your session
Comment[cs]=Nastavit uzamčení relace
Comment[de]=Sitzungsperre konfigurieren
Comment[de_DE]=Sitzungsperre konfigurieren
Comment[en_AU]=Configure locking your session
Comment[es]=Configurar el bloqueo de la sesión
Comment[et]=Seadista ekraanisäästu ja lukustamist
Comment[fi]=Hallitse istuntosi lukitusasetuksia
Comment[fr]=Configurer le verrouillage de votre session
Comment[it]=Configura il blocco della sessione
Comment[ja]=セッションのロックを設定する
Comment[nl]=Het vergrendelen van uw sessie instellen
Comment[pl]=Konfiguruje blokowanie sesji
Comment[pt]=Configurar o bloqueio de sessão
Comment[pt_BR]=Configurar o bloqueio de sessão
Comment[pt_PT]=Configurar o bloqueio de sessão
Comment[ru]=Настройка блокировки экрана
Comment[tr]=Oturum kilidinizi ayarlayın
Exec=/usr/bin/light-locker-settings
Terminal=false
Type=Application
StartupNotify=true
Categories=XFCE;GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;DesktopSettings;X-XFCE;
Keywords=Configuration;Screensaver;User;
Icon=preferences-desktop-screensaver