[Desktop Entry]
Name=Cub Software Center
GenericName=Software Center
GenericName[ar]=مركز برمجيات
GenericName[bg]=Софтуерен център
GenericName[bs]=Softverski centar
GenericName[ca]=Centre de programari
GenericName[cs]=Centrum softwaru
GenericName[de]=Software-Center
GenericName[es]=Centro de software
GenericName[et]=Tarkvarakeskus
GenericName[eu]=Software-zentroa
GenericName[fa]=مرکز نرم افزاری
GenericName[fi]=Sovellusvalikoima
GenericName[fr]=Logithèque
GenericName[he]=מרכז התכנה
GenericName[hr]=Software centar
GenericName[hu]=Szoftverközpont
GenericName[id]=Pusat Perangkat Lunak
GenericName[it]=Software Center
GenericName[ja]=ソフトウェアセンター
GenericName[ms]=Pusat Perisian
GenericName[nl]=Softwarecentrum
GenericName[nn]=Programvaresenter
GenericName[pl]=Centrum oprogramowania
GenericName[pt]=Centro de Aplicações
GenericName[pt_BR]=Central de Programas
GenericName[ru]=Центр приложений
GenericName[sk]=Centrum softvéru
GenericName[sl]=Programsko središče
GenericName[sr]=Софтверски центар
GenericName[sv]=Mjukvarucenter
GenericName[te]=సాఫ్ట్‍వేర్ కేంద్రము
GenericName[tr]=Yazılım Merkezi
GenericName[zh_CN]=软件中心
GenericName[zh_HK]=軟件中心
GenericName[zh_TW]=軟體中心
Comment=Lets you choose from thousands of applications available from the Ubuntu software repositories
Exec=lubuntu-software-center
Icon=lubuntu-software-center
Terminal=false
Type=Application
Categories=GTK;Settings;
StartupNotify=true
Keywords=Sources;PPA;Install;Uninstall;Remove;Catalogue;Store;Apps;Light;Package;
