[Desktop Entry]
Name=Monitor Settings
Name[af]=Monitorinstellings
Name[ar]=إعدادات المرقاب
Name[ast]=Axustes del monitor
Name[be]=Налады манітора
Name[bg]=Екранни настройки
Name[bn]=পর্দার সেটিং
Name[ca]=Paràmetres de la pantalla
Name[cs]=Nastavení monitoru
Name[da]=Skærmopsætning
Name[de]=Bildschirmeinstellungen
Name[el]=Ρυθμίσεις οθόνης
Name[en_GB]=Monitor Settings
Name[es]=Ajustes del monitor
Name[et]=Monitori sätted
Name[fa]=تنظیمات نمایشگر
Name[fi]=Näytön asetukset
Name[fo]=Skíggjasetingar
Name[fr]=Paramètres de l'écran
Name[gl]=Axustes de pantalla
Name[he]=הגדרות הצג
Name[hr]=Postavke monitora
Name[hu]=Monitor beállítások
Name[id]=Pengaturan Monitor
Name[it]=Impostazioni del monitor
Name[ja]=モニタの設定
Name[lg]=Ntegeka z'olutimbe
Name[lt]=Ekrano nustatymai
Name[nb]=Skjerminnstillinger
Name[nl]=Beeldscherminstellingen
Name[nn]=Skjermoppsett
Name[pl]=Ustawienia wyświetlania
Name[pt]=Definições do monitor
Name[pt_BR]=Configurações do monitor
Name[ro]=Setări pentru monitor
Name[ru]=Настройки дисплея
Name[sk]=Nastavenia monitora
Name[sl]=Nastavitve zaslona
Name[sr]=Подешавања монитора
Name[sr@latin]=Podešavanja monitora
Name[sv]=Visningsinställningar
Name[te]=మానిటర్ అమరికలు
Name[tr]=Görüntü Birimi Ayarları
Name[tt_RU]=Экран көйләүләре
Name[uk]=Установки монітора
Name[vi]=Thiết lập Màn hình
Name[zh_CN]=显示器设置
Name[zh_TW]=螢幕設定
Comment=Change screen resolution and configure external monitors
Comment[af]=Verander skermresolusie en stel eksterne monitors op
Comment[ar]=غير دقة الشاشة واضبط المراقيب الخارجية
Comment[ast]=Camudar la resolución de la pantalla y configurar monitores esternos
Comment[be]=Змяніць памер экрана і наладзіць знешнія маніторы
Comment[bg]=Промени резолюцията и конфигирурирай външните монитори
Comment[bn]=পর্দার রেজল্যুশন পরিবর্তন করা হবে এবং বাহ্যিক মনিটর কনফিগার করা হবে
Comment[ca]=Canvieu la resolució i configureu els monitors externs
Comment[cs]=Změnit rozlišení obrazovky a nastavit externí monitory
Comment[da]=Skift skærmopløsning og konfigurer eksterne skærme
Comment[de]=Die Bildschirmauflösung und externe Monitore konfigurieren
Comment[el]=Αλλαγή της ανάλυσης και προσαρμογή στις εξωτερικές οθόνες
Comment[en_GB]=Change screen resolution and configure external monitors
Comment[es]=Cambiar la resolución de la pantalla y configurar monitores externos
Comment[et]=Muuda ekraani eraldusvõimet ja seadista väliseid kuvareid
Comment[fa]=تغییر وضوح صفحه و پیکربندی نمایشگرهای جانبی
Comment[fi]=Muuta näytön tarkkuutta ja aseta ulkoiset näytöt
Comment[fo]=Broyt skíggjaloysni, og samanset ytru skíggjar
Comment[fr]=Modifier la résolution de l'écran et paramétrer les écrans externes
Comment[gl]=Cambiar a resolución da pantalla e configurar os monitores externos
Comment[he]=שינוי רזולוציית הצג והגדרת צגים חיצוניים
Comment[hr]=Promijeni rezoluciju zaslona i konfiguriraj vanjske monitore
Comment[hu]=Képernyő felbontás módosítása és külső monitorok beállítása
Comment[id]=Ubah resolusi layar dan tata monitor eksternal
Comment[it]=Cambia la risoluzione dello schermo e configura i monitor esterni
Comment[ja]=解像度の変更と外部モニタの設定を行います
Comment[lg]=Tegeka ntimbe ez'etongodde n'ebipimo bya kifaananyi mu pikiseli
Comment[lt]=Keiskite ekrano raišką ir konfigūruokite išorinius ekranus
Comment[nb]=Bytt skjermoppløsning og sett opp eksterne skjermer
Comment[nl]=Schermresolutie veranderen en externe beeldschermen configureren
Comment[nn]=Byt skjermoppløysing og set opp eksterne skjermar
Comment[pl]=Zmień rozdzielczość i konfiguruj zewnętrzne monitory
Comment[pt]=Alterar a resolução do ecrã e configurar monitores externos
Comment[pt_BR]=Modifique a resolução da tela e configure monitores externos
Comment[ro]=Schimbă rezoluția ecranului și configurează monitoarele externe
Comment[ru]=Показывать одинаковый экран на ЖК дисплее ноутбука и на внешнем дисплее
Comment[sk]=Zmeniť rozlíšenie obrazovky a nastaviť externé monitory
Comment[sl]=Spremenite ločljivost in nastavite zunanje zaslone
Comment[sr]=Промени величину екрана и подеси приказ на спољњем монитору
Comment[sr@latin]=Promeni veličinu ekrana i podesi prikaz na spoljnjem monitoru
Comment[sv]=Ändra skärmupplösning och gör inställningar för externa skärmar
Comment[te]=తెర విభాజకతను మార్చు మరియు బాహ్య మానిటర్లను స్వరూపించు
Comment[tr]=Ekran çözünürlüğünü değiştir ve harici görüntü birimlerini yapılandır
Comment[tt_RU]=Экран мөмкинлеген үзгәртү һәм тышкы экраннарны көйләү
Comment[uk]=Змінити роздільну здатність і сконфігурувати зовнішні монітори
Comment[vi]=Thay đổi độ phân giải màn hình và cấu hình màn hình rời
Comment[zh_CN]=更改屏幕分辨率和配置外部显示器
Comment[zh_TW]=變更螢幕解析度以及設定外接顯示器
Exec=lxrandr
Icon=display
Terminal=false
Type=Application
Categories=GTK;Settings;HardwareSettings;
