[Desktop Entry]
Name=About Me
Name[ca]=Quant a mi
Name[ca@valencia]=Quant a mi
Name[cs]=O mně
Name[de]=Persönliche Informationen
Name[en_AU]=About Me
Name[eo]=Pri mi
Name[es]=Acerca de mí
Name[eu]=Niri buruz
Name[fi]=Omat tiedot
Name[fr]=À mon sujet
Name[gl]=Acerca de min
Name[it]=Informazioni personali
Name[ja]=個人情報
Name[nl]=Over mij
Name[pl]=Informacje o użytkowniku
Name[pt]=Sobre Mim
Name[pt_BR]=Sobre Mim
Name[ru]=Обо мне
Name[sr]=О мени
Comment=Configure your profile image and contact details
Comment[ca]=Configureu l'imatge del perfil i les dades de contacte
Comment[ca@valencia]=Configureu l'imatge del perfil i les dades de contacte
Comment[cs]=Nastavte si svůj profilový snímek i všechny kontaktní údaje
Comment[de]=Profilbild und Kontaktdetails konfigurieren
Comment[en_AU]=Configure your profile image and contact details
Comment[es]=Configure su imagen de perfil y datos de contacto
Comment[fi]=Muuta profiilikuvaasi ja yhteystietojasi
Comment[fr]=Configurer les informations de contact et la photo de votre profil
Comment[gl]=Configure a imaxe do seu perfil e a información de contacto
Comment[it]=Configura l'immagine del profilo e i dettagli del contatto
Comment[ja]=プロファイルの画像と連絡先の詳細を設定
Comment[nl]=Stel uw profielafbeelding en contactdetails in
Comment[pl]=Konfiguruje obraz użytkownika i szczegóły kontaktu
Comment[pt]=Configure a sua imagem de perfil e detalhes de contato
Comment[pt_BR]=Configure sua imagem de perfil e dados da conta
Comment[ru]=Настроить изображение профиля и контактную информацию
Comment[sr]=Подесите своју слику и податке о налогу
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;DesktopSettings;X-XFCE;
Keywords=Configuration;Profile;User;
Exec=/usr/bin/mugshot
Icon=mugshot
Terminal=false
Type=Application
