[Desktop Entry]
Version=1.0
Name=Shared Folders
Comment=Configure which folders are available for your network neighborhood
Exec=shares-admin
Icon=folder-remote
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;X-GNOME-NetworkSettings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-system-tools
X-GNOME-Bugzilla-Component=shares-admin
X-GNOME-Bugzilla-Version=3.0.0
StartupNotify=true
NoDisplay=true
X-Ubuntu-Gettext-Domain=gnome-system-tools

