[Desktop Entry]
Version=1.0
Name=Power Manager
Name[ar]=مدير طاقة
Name[ast]=Alministrador d'enerxía
Name[bg]=Управление на захранването
Name[ca]=Gestor d'energia
Name[cs]=Správce napájení
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[el]=Διαχειριστής ρεύματος
Name[en_AU]=Power Manager
Name[en_GB]=Power Manager
Name[es]=Administrador de energía
Name[et]=Vooluhaldur
Name[eu]=Energia kudeaketa
Name[fi]=Virranhallinta
Name[fr]=Gestionnaire d'alimentation
Name[gl]=Xestor de enerxía
Name[he]=מנהל צריכת החשמל
Name[hr]=Upravitelj energijom
Name[hu]=Energiakezelő
Name[id]=Manajer Daya
Name[it]=Gestore di energia
Name[ja]=電源管理
Name[kk]=Электр қоректендіру басқарушысы
Name[ko]=전원 관리자
Name[lt]=Energijos tvarkyklė
Name[ms]=Pengurus Kuasa
Name[nb]=Strømstyring
Name[nl]=Energiebeheerder
Name[nn]=Straumstyring
Name[oc]=Gestionari d'alimentacion
Name[pa]=ਪਾਵਰ ਮੈਨੇਜਰ
Name[pl]=Menedżer zasilania
Name[pt]=Gestão de energia
Name[pt_BR]=Gerenciador de Energia
Name[ro]=Manager de consum
Name[ru]=Менеджер питания
Name[si]=ශක්ති කළමනාකාරකය
Name[sk]=Správca napájania
Name[sl]=Upravljalnik porabe energije
Name[sr]=Управник потрошње
Name[sv]=Strömhanterare
Name[te]=విద్యుత్ నిర్వాహకం
Name[th]=ระบบจัดการพลังงาน
Name[tr]=Güç Yöneticisi
Name[ug]=مەنبە باشقۇرغۇ
Name[uk]=Менеджер живлення
Name[ur]=توانائی منیجر
Name[ur_PK]=توانائی منیجر
Name[vi]=Trình quản lý năng lượng
Name[zh_CN]=电源管理器
Name[zh_HK]=電力管理員
Name[zh_TW]=電源管理員
GenericName=Power Manager
GenericName[ar]=مدير طاقة
GenericName[ast]=Alministrador d'enerxía
GenericName[bg]=Управление на захранването
GenericName[ca]=Gestor d'energia
GenericName[cs]=Správce napájení
GenericName[da]=Strømstyring
GenericName[de]=Energieverwaltung
GenericName[el]=Διαχειριστής ρεύματος
GenericName[en_AU]=Power Manager
GenericName[en_GB]=Power Manager
GenericName[es]=Administrador de energía
GenericName[et]=Vooluhaldur
GenericName[eu]=Energia kudeaketa
GenericName[fi]=Virranhallinta
GenericName[fr]=Gestionnaire d'alimentation
GenericName[gl]=Xestor de enerxía
GenericName[he]=מנהל צריכת החשמל
GenericName[hr]=Upravitelj energijom
GenericName[hu]=Energiakezelő
GenericName[id]=Manajer Daya
GenericName[it]=Gestore di energia
GenericName[ja]=電源管理
GenericName[kk]=Электр қоректендіру басқарушысы
GenericName[ko]=전원 관리자
GenericName[lt]=Energijos tvarkyklė
GenericName[ms]=Pengurus Kuasa
GenericName[nb]=Strømstyring
GenericName[nl]=Energiebeheerder
GenericName[nn]=Straumstyring
GenericName[oc]=Gestionari d'alimentacion
GenericName[pa]=ਪਾਵਰ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer zasilania
GenericName[pt]=Gestão de energia
GenericName[pt_BR]=Gerenciador de Energia
GenericName[ro]=Manager de consum
GenericName[ru]=Менеджер питания
GenericName[si]=ශක්ති කළමනාකාරකය
GenericName[sk]=Správca napájania
GenericName[sl]=Upravljalnik porabe energije
GenericName[sr]=Управник потрошње
GenericName[sv]=Strömhanterare
GenericName[te]=విద్యుత్ నిర్వాహకం
GenericName[th]=ระบบจัดการพลังงาน
GenericName[tr]=Güç Yöneticisi
GenericName[ug]=مەنبە باشقۇرغۇ
GenericName[uk]=Менеджер живлення
GenericName[ur]=توانائی منیجر
GenericName[ur_PK]=توانائی منیجر
GenericName[vi]=Trình quản lý năng lượng
GenericName[zh_CN]=电源管理器
GenericName[zh_HK]=電力管理員
GenericName[zh_TW]=電源管理員
Comment=Settings for the Xfce Power Manager
Comment[ar]=إعدادات مدير طاقة إكسفس
Comment[ast]=Axustes pal xestor d'enerxía XFCE
Comment[bg]=Настройки на Xfce управление на захранването
Comment[ca]=Ajustaments del gestor d'energia de Xfce
Comment[cs]=Nastavení Správce napájení pro Xfce
Comment[da]=Indstillinger til strømstyring til Xfce
Comment[de]=Einstellungen für die Xfce Energieverwaltung
Comment[el]=Ρυθμίσεις για τον διαχειριστή ενέργειας του xfce
Comment[en_AU]=Settings for the Xfce Power Manager
Comment[en_GB]=Settings for the Xfce Power Manager
Comment[es]=Opciones para el administrador de energía de Xfce
Comment[et]=Xfce vooluhalduri sätted
Comment[eu]=Xfce energia kudeaketa ezarpenak
Comment[fi]=Xfce:n virrankäyttöasetukset
Comment[fr]=Paramètres du gestionnaire d'alimentation Xfce
Comment[gl]=Configuración do Xestor de enerxía de Xfce
Comment[he]=הגדרות למנהל צריכת החשמל של Xfce
Comment[hr]=Postavke za Xfce upravitelja energijom
Comment[hu]=Az Xfce energiakezelő beállításai
Comment[id]=Pengaturan untuk Manajer Daya Xfce
Comment[it]=Impostazioni per il gestore di energia di Xfce
Comment[ja]=Xfce 電源管理を設定します
Comment[kk]=Xfce Power Manager баптаулары
Comment[ko]=Xfce 전원 관리자를 설정합니다
Comment[lt]=Xfce energijos tvarkyklės nustatymai
Comment[ms]=Tetapan untuk Pengurus Kuasa Xfce
Comment[nb]=Innstillinger for Xfce-strømbehandler
Comment[nl]=Instellingen voor de Xfce-energiebeheerder
Comment[nn]=Innstillingar for Xfce-straumstyraren
Comment[oc]=Paramètres del gestionari d'alimentacion Xfce
Comment[pl]=Konfiguruje ustawienia zasilania
Comment[pt]=Definições para a gestão de energia Xfce
Comment[pt_BR]=Configurações para o Gerenciador de Energia do Xfce
Comment[ro]=Opțiuni pentru managerul de consum Xfce
Comment[ru]=Настройки менеджера питания Xfce
Comment[sk]=Nastavenia Správcu napájania Xfce
Comment[sl]=Nastavitve upravljalnika porabe energije
Comment[sr]=Поставке ИксФЦЕ управника потрошње
Comment[sv]=Inställningar för Strömhanterare för Xfce
Comment[te]=Xfce విద్యుత్ నిర్వాహకము కొరకు అమరికలు
Comment[th]=ตั้งค่าระบบจัดการพลังงานของ Xfce
Comment[tr]=Xfce Güç Yöneticisi için Ayarlar
Comment[ug]=مەنبە باشقۇرغۇ تەڭشەكلىرى
Comment[uk]=Налаштування для менеджера живлення Xfce
Comment[vi]=Cài đặt cho Trình quản lý năng lượng Xfce
Comment[zh_CN]=Xfce 电源管理器设置
Comment[zh_HK]=Xfce 電力管理員設定
Comment[zh_TW]=Xfce 電源管理員設定值
Exec=xfce4-power-manager-settings
Icon=gnome-power-manager
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
NotShowIn=GNOME;KDE;Unity;
StartupNotify=true
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-power-manager
X-XfceHelpPage=start
